.FixedTopbtn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;
    button {
        height: 5.6rem;
        width: 5.6rem;
        background: var(--secondary);
        border-radius: 999px;
    }
    a {
        align-content: center;
        text-align: center;
        color: var(--bg);
        font-size: 1.8rem;
        background: url("../../../public/img/icon_talk.svg") no-repeat center/cover;
        height: 6.3rem;
        width: 5.6rem;
    }
}