.instar-inner{
    h2.tit {
        color: var(--secondary);
    }
    p.txt {
        font-family: "Source Serif Pro", serif;
        font-style: italic;
        font-size: 2rem;
        color: var(--muted);
        margin-top: 2.2rem;
    }

    .instar-list {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
        .instar-item {
            flex: 1;
            // width: 21rem;
            // height: 21rem;
            a {
                display: block;
                width: 21rem;
                height: 21rem;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                font-size: 0;
            }
        }
    }
}