.instar-inner{
    .tit {
        color: var(--primary);
    }
    .txt {
        color: var(--muted);
        margin: 2.2rem 0 4rem;
    }

    .instar-list {
        display: flex;
        justify-content: space-between;

        .instar-item {
            width: 21rem;
            height: 21rem;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                font-size: 0;
            }
        }
    }
}